#Pc
	box-sizing: border-box

	.stats
		float: left
		overflow-x: auto

	.inventory
		height: 100%
		overflow: auto
		position: relative

		$headerHeight : 7em
		.header
			height: $headerHeight

		.ui-grid
			position: absolute
			top: $headerHeight
			bottom: 0
			right: 0
			left: 0


	.ui-grid-row-header-cell
		$buttonSize : 25px
		text-align: center
		button
			display: inline-block
			vertical-align: middle
			width: $buttonSize
			height: $buttonSize
			padding: 0 2px
			margin: 0 2px
