#Pc
	display: flex
	flex-direction: row

	.inventory
		display: flex
		flex-grow: 1
		flex-direction: column
		align-self: stretch

	.ui-grid-row-header-cell
		$buttonSize : 25px
		text-align: center
		button
			display: inline-block
			vertical-align: middle
			width: $buttonSize
			height: $buttonSize
			padding: 0 2px
			margin: 0 2px
