#Pc
	display: table
	box-sizing: border-box

	.container
		display: table-row

		.stats, .inventory
			display: table-cell
			vertical-align: top

		.stats
			width: 10%
			min-width: 100px

	.ui-grid-row-header-cell
		$buttonSize : 25px
		text-align: center
		button
			display: inline-block
			vertical-align: middle
			width: $buttonSize
			height: $buttonSize
			padding: 0 2px
			margin: 0 2px
