#ArmorCalc

	table.parameters
		tr.weight
			th.left Weight:

			td
				label Limit:

					label(ng-repeat="wl in weightLimits")
						input(type="radio" name="selectedWeightLimit" ng-model="$parent.params.selectedWeightLimit" value="{{wl}}")
						| {{wl * 100}}%

				label
					| Reserved (weapons):
					input(ng-model="params.reservedWeight" type="number")

				label
					| Maximum:
					input(type="number" ng-model="maxLoad" readonly)

		tr.modifiers
			th.left Importance:

			td
				label(ng-repeat="mod in modifiers" title="{{mod.title}}")
					| {{mod.title}}:
					input(type="number" ng-model="$parent.params.modifiers[$index]")

		tr.misc
			th.left Misc.:

			td
				label
					input(type="checkbox" ng-model="params.useUpgrades")
					| Include available upgrades

	button(ng-click="calculate()" ng-disabled="availableLoad < 0")
		| Find the
		input(type="number" ng-model="params.resultLimit" ng-click="$event.stopPropagation();")
		| best available armor combination for {{availableLoad}} weight

	div
		span(ng-if="results.length > params.resultLimit") Top&nbsp;
		| {{gridOptions.data.length}} combinations

	div(ui-grid-auto-resize ui-grid="gridOptions")