#WeaponFinder

	table.params
		tr.requirements
			th.left Requirements:

			td
				label
					| Add
					input(type="number" ng-model="params.statBonus")
					| to all stats


	button(ng-click="findWeapons()")
		| Find
		select(ng-click="$event.stopPropagation()" ng-model="params.searchType")
			option(value="offence") weapons
			option(value="defence") shields

	div(ui-grid-auto-resize ui-grid="gridOptions")