#ArmorCalc
	label
		| Available equipment load:
		input(ng-model="maxLoad" readonly)
	br
	label
		| Reserved weight (weapons):
		input(ng-model="reservedWeight")
	br
	button(ng-click="calculate()") Calculate

	| {{gridOptions.data.length}} result(s)
	div(ui-grid-auto-resize ui-grid="gridOptions")