<!DOCTYPE html>
<html lang="en" ng-app="dsc">
<head>
    <meta charset="UTF-8">

    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular/angular-local-storage.min.js"></script>

    <script src="libs/jquery/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" href="libs/jqwidgets/styles/jqx.base.css" />
    <script src="libs/jqwidgets/jqxangular.js"></script>
    <script src="libs/jqwidgets/jqxcore.js"></script>
    <script src="libs/jqwidgets/jqxexpander.js"></script>
    <script src="libs/jqwidgets/jqxtabs.js"></script>

    <link rel="stylesheet" href="libs/ui-grid/ui-grid-unstable.min.css"/>
    <script src="libs/ui-grid/ui-grid-unstable.min.js"></script>


    <link rel="stylesheet" href="style.css" />
    <script src="main.js"></script>

    <title></title>
</head>
<body>

<div jqx-tabs>

    <ul>
        <li>Guide</li>
        <li>Items</li>
    </ul>

<script type="text/ng-template" id="GuideEntry">
    <div class="header" ng-if="entry.title">
        <button class="check-mark" ng-click="entryDone($event, entry)">✓</button>
        <div class="title">{{entry.title}}</div>
        <span class="label" ng-repeat="label in entry.labels">{{label}}</span>
    </div>
    <div class="content">
        <div ng-if="entry.content" ng-bind-html="entry.content"></div>

        <ul ng-if="entry.children" ng-init="depth = depth + 1" ng-class="depth == 1 ? 'root' : ''">
            <li ng-repeat="entry in entry.children"
                ng-include="'GuideEntry'"
                ng-class="getClassesFor(entry)"
                data-id="{{entry.id}}"
                data-labels="{{entry.labels}}"
                ng-hide="entry.done"
                jqx-expander
                jqx-settings="getExpanderSettingsFor(entry)">
            </li>
        </ul>

    </div>
</script>

<div id="Guide" ng-controller="GuideController" ng-include="'GuideEntry'">
</div>
<div id="Items" ng-controller="ItemsController">
    <select ng-change="selectedItemTypeChanged()" ng-model="selectedItemType"
            ng-options="itemType as 'Show '+itemType for itemType in itemTypes">
    </select>
    <button ng-click="exportAsJson()">Export as JSON</button>
    <div ui-grid-edit ui-grid-cellNav ui-grid="gridOptions"></div>
</div>

</div>

</body>
</html>