$border : 1px solid black
$width : 900px

body
	text-align: center

header
	font-family: 'OptimusPrinceps', sans-serif
	display: inline-block
	width: $width
	margin-top: 10px

	h1
		margin-top: 0
		font-size: 3em


/* Font downloaded from FontsForWeb.com */

.page
	display: table
	margin: auto
	width: 90%
	text-align: left

	> .main-content
		border: $border
		border-top: 0
		box-sizing: border-box
		width: 100%
		padding: 0.5em

	> nav
		$liPadding : 5px
		width: 100%
		display: table
		ul
			padding: 0
			margin: 0
			display: table-row
		li
			display: table-cell
			border: $border
			$br: 8px
			border-radius: $br $br 0 0
			text-align: center
			background: #CCB280
			font-weight: bold

			a
				color: #000
				text-decoration: none
				display: block
				padding: $liPadding
				
				img
					//border-radius: 16px
					$size : 24px
					width: $size
					height: $size

			&.current
				border-bottom: none
				background: #fff
