#ArmorFinder
	@each $row in (".params", "button")
		> #{$row}
			flex-grow: 0
			flex-shrink: 0

	> .ui-grid
		flex-grow: 1

	.params
		.limits	strong
			flex-grow: 1

		.modifiers
			flex-wrap: wrap
			flex-direction: row

			.column
				flex-grow: 1
				display: flex
				flex-direction: column

				.row
					span
						flex-grow: 1